.other-days-info {
    display: flex;
    justify-content: space-around;
    background-color: #6899D3;
    margin: 0 10vw 0 10vw;
    padding-top: 15px;
    text-align: center;
    height: 34vh;
    min-width: 500px;
}