
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: #0E53A7;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 25px;
    padding-top: 5px;
    margin: 0;
}

p {
    margin: 0 0 5px 0;
}
